* { color:#708090; 
  font-family:Avenir-Light, Tahoma;
}
body {
  color:#404040 ;
  background:#33FFCC;
  font-family:Avenir-Light, Tahoma;
  width:960px;
  margin:auto;
}
body
{
background-image:url('http://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&docid=tfd3_toeSktTXM&tbnid=pC5UwuqJEvoJnM:&ved=0CAUQjRw&url=http%3A%2F%2Fwww.gophoto.us%2Fkey%2Fhippie%2520tumblr%2520themes&ei=73KVUuDGGYbloASay4LIAQ&psig=AFQjCNFKfnl17G7Cu5fHSvvgPXQ4hwDMcg&ust=1385612352110710');
background-color:#cccccc;

}

header, main, footer {
  clear:both;
  margin-left:0;
  
}

header, main h1 {
  color:#F08080;
  border-radius:5px;
}

a, a:visited {
  color:#c0c0c0;
  text-decoration:none;
}

a:hover {
  color: #77ccee;
  text-decoration: none;
}

#nav {
  list-style: none;
  width:960px;
  margin-left:-40px;
  
}

#nav li {
  display:block;
  float: left;
  padding:5px;
  margin-bottom:20px;
  margin-right:10px;
  height:30px;
  width:110px;
  text-align:center;
  font-size:13px;
  border: 2px solid white;
  border-radius:20px;
}
#menu {
  width:150px;
  display: block;
  float:left;
  margin-left:-40px;
  }

#menu ul {
  list-style: none;
  float:left;
  margin-left:0;
  border-right: 1px solid #c0c0c0;
  }
  
#menu li {
  width: 125px;
  padding:5px;
  margin-bottom:10px;
  font-size:13px;
  }
  
article {
  width:800px;
  display: block;
  float:right;
  }
