* { color:#008080; 
  font-family:Avenir-Heavy, Tahoma;
}
body {
  color:#404040 ;
  background:#33FFCC;
  font-family:Avenir-Light, Tahoma;
  width:960px;
  margin:auto;
  }

body
{
background-image:url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTdqz3mXRkO8yJTkDNhZ6YEZaI9nGZdqzJdTtMTDCj9J-4-IUZ_JQ');
background-color:#cccccc;
background-size:1200px 1000px;

}

header, main, footer {
  clear:both;
  margin-left:0;
 }
header, main h1 {
  color:#F08080;
  border-radius:5px;
}

a, a:visited {
  color:#c0c0c0;
  text-decoration:none;
}

a:hover {
  color: #77ccee;
  text-decoration: none;
}

#nav {
  list-style: none;
  width:960px;
  margin-left:-40px;
  
}

#nav li {
  display:block;
  float: left;
  padding:5px;
  margin-bottom:20px;
  margin-right:10px;
  height:30px;
  width:110px;
  text-align:center;
  font-size:13px;
  border: 2px solid white;
  border-radius:30px;
}
#menu {
  width:150px;
  display: block;
  float:left;
  margin-left:-40px;
  }

#menu ul {
  list-style: none;
  float:left;
  margin-left:0;
  border-right: 1px solid #c0c0c0;
  }
  
#menu li {
  width: 125px;
  padding:5px;
  margin-bottom:10px;
  font-size:13px;
  }
  
article {
  width:800px;
  display: block;
  float:right;
  }
